<!DOCTYPE html>
<html>
    <head>
        <title>Online Insider Game</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/image/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/image/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/image/favicon-16x16.png">
        <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    </head>
 
    <body class="content">
        
        <div class="container-fluid">
            <header>
                <img src="/static/image/title.jpg" />
            </header>
            <div class="row">
                <div class="col-lg-12">

                    <p class="player">
                        C'est parti <strong><%= player.name %></strong> !
                        <span class="homelink">Si ce n'est pas toi, <a href="/">clique ici</a> !</span>
                    </p>
                    

                    <p id="waiting">Attendons que tout le monde soit prêt ...</p>
                    
                    <div id="reset">
                        <p class="role" style="display: none">Tu es <strong></strong></p>
                    </div>

                    <div id="reveal">
                        <button class="btn btn-warning" style="display: none">Révéler le mot</button>
                        <div id="word" style="display: none"></div>
                    </div>

                    <div id="timer"></div>
                </div>
                </div>
            </div>
        </div>

        <footer class="footer">
          <div class="container">
            <% if (player.permission == 'admin') { %>
                <button class="btn btn-dark" id="newGame">Lancer une partie</button>
            <% } %>
          </div>
        </footer>

        <!-- Javascript -->
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="static/js/timer.js"></script>
        
        <script>
            var socket = io.connect('localhost:8080');
            var audiof = new Audio('/static/sound/ding.mp3');

            $(function() {

                $( "#newGame").click(function(){
                    socket.emit('resetGame');
                });

                $( "#reveal button").click(function(){
                    $('#word').fadeIn(1000).delay(5000).fadeOut("slow", function() {
                        socket.emit('ding');
                        socket.emit('revealWord');
                        $('#reveal button').fadeOut(1000);
                    });
                });

                socket.on('newRole', function(data) {
                    $('#reveal button').hide();
                    $('#word').html('').hide();
                    $('#timer').hide();
                    $('#waiting').hide();
                    $.each(data.players, function(i, obj) {
                        if(obj.name == '<%= player.name %>') {
                            $('.role strong').html(obj.role);
                            $('#reset .role').fadeIn(1000).delay(5000).fadeOut("slow", function(){
                                if(obj.role == 'Maître du jeu') {
                                    $('#reveal button').fadeIn(1000);
                                    $('#word').html("Le mot à deviner est<strong>"+data.word+"</strong>");
                                }
                                if(obj.role == 'Traitre') {
                                    $('#word').html("Le mot à deviner est<strong>"+data.word+"</strong>");
                                }
                            });
                            return false;
                        };
                      });
                });

                socket.on('revealWord', function() {
                    $('#word').fadeIn(1000).delay(10000).fadeOut("slow", function() {
                        socket.emit('startGame');
                    });
                });

                socket.on('startGame', function() {
                    audiof.play();
                    $('#timer').show();
                    if(typeof resetTimer  === 'function') {
                        resetTimer();
                    }
                    countdown(1);
                });

                socket.on('ding', function() {
                    audiof.play();
                });

            });
 
        </script>
    </body>
</html>
